html, body {
  background-color: rgb(87,87,92);
  font-family: "Roboto Condensed", sans-serif;
  color:black;
  margin:2px;
  margin-bottom:30px;
}

.inicio{
  background: white;
  font-size:35px;
  margin:20px;
  padding:20px;
  display:flex;
  border-radius:30px;
  box-shadow: 2px 2px 5px black;
}

header{
  font-family: "Bebas Neue", sans-serif;
  color:rgb(19,19,19);
  font-size: 80px;
  display:flex;
  position:relative;
  margin:20px;
  padding:0px;
  border-bottom:3px solid black;
  border-radius:20px;
}

.oi{
  align-content:center;
  margin-left:50px;
}

p{
  text-align:justify;
}

.video{
  margin:10px;
}

header img{
  width: 200px;
  height: auto;
  margin-left: 400px;
}

h3{
  color:black;
  font-size:40px;
-weight:800;
  border-bottom:2px solid black;
  border-radius:20px;
}



.clipes{
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.clipes img{
  height:200px;
  opacity:0.5;
}
.clipes img:hover{
  opacity: 1.0;
  border:solid 4px rgb(134,126,126);
  box-shadow:2px 4px 4px rgb(155,141,141);
}

footer{
  font-family: "Bebas Neue", sans-serif;
  color: rgb(12,12,12);
  background-color:  rgba(177,165,165,0.5);
  align-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width:100%;
  height: 1em;
  padding-bottom: 50px;
  font-size: 1.7rem;
  display: block;
  margin:0 auto;
  padding-left: 500px;
}